<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="../styles/sidebar.css">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="logo">
          <!--<img src="img/logosap.png" alt="Company Logo">-->
          <h4 class="logo-text">MySCADA</h4> 
        </div>
        <ul>
            <li><a href="../"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/views/s_water.html"><i class="fas fa-palette"></i> Water</a></li>
            <li><a href="#"><i class="fas fa-font"></i> Energy</a></li>
            <li><a href="#"><i class="fas fa-folder"></i> Files</a></li>
        </ul>
    </div>
</body>
</html>
